sender and receiver share a common key
all classical encyrption algorithm are private key
assymetric encyrption - public key (sender sharing ) (more secure)
symmetric encryption - private key (sender sharing )
symmetric cipher model;


